@charset "UTF-8";

/*document styling defaults*/
body{
	margin:150px 0px;
	padding:0px;
	text-align:left;	
	color:#444444;
	overflow-y: scroll;
	background-color:#D8CAB8;
	margin:0px;
	font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;	
}

/*container for content after nav bar*/
#content {
	width:750px;
	margin:0px auto; 
	text-align:justify; 
	padding:15px;
	}

/*this is the class for the top logo image*/
.banner{
	display:block;
	margin-left: auto;
    margin-right: auto;
    margin-top:10px;
    margin-bottom:10px;
    background-image:url(../img/logosprite.png);
    background-size:200px,159px;
    background-position:0px 0px;
    width:200px;
    height:155px;
}

.banner:hover{background-position:0px -159px;}

/*this is the container class for the nav bar*/
.header{
	display:block;
	margin-left: auto;
    margin-right: auto;
    padding-left:15px;
    padding-right:15px;
  	background-color:rgba(100,100,100,.25); /*dark gray*/
/*  	background-color:rgba(247, 247, 247,.5); light gray*/
  	width:800px;
  	border-radius: 15px;
}

/*this is styling for the nav elements*/
.nav {
	display:inline;
	width:100%;
	height:35px;
	background-image:url(../img/navsprite.png);
	margin:8px;
	float:left;
	margin-bottom:10px;
	margin-top:10px;
}

/*this is hover stuff for nav bar*/
.home {width:80px;background-position:-64px 0px;}
.home:hover, body#home a.home {background-position:-64px -35px;}

.news {width:208px;background-position:-208px 0px;}
.news:hover, body#newsletters a.news {background-position:-208px -35px;}

.contact {width:136px;background-position:-452px 0px;}
.contact:hover, body#contact a.contact {background-position:-452px -35px;}

.csa {width:83px;background-position:-686px 0px;}
.csa:hover, body#csa a.csa {background-position:-686px -35px;}

.gallery {width:144px;background-position:-863px 0px;}
.gallery:hover, body#gallery a.gallery {background-position:-863px -35px;}

.recipes {width:144px;background-position:-1071px 0px;}
.recipes:hover, body#recipe a.recipes {width:144px;background-position:-1071px -35px;}

.clear{clear:both;}


p{margin:10px;}
a{color:#5C832F;text-decoration: none;}
a:hover{color:#284907;}

/*this is the index photo of sarah and dan*/
img.rightWrap{
  border-style: none;
  padding:10px;
  float:right;
}

ul{  
	list-style-type: none;
	padding-left: 10px;
}
li{
	padding-bottom:2px;
	padding-left: 12px ;
	text-indent: -12px ;
}


/*This is stuff for the recipe navigation*/
.container {
  position: relative;
  overflow: hidden;
  margin-top: 20px ;
  margin-left: 30px ;
  width: 1000px;
  height:500px; /*this will need to be dynamic at some point...*/
}

.container img {
  position: absolute;
  top: 0;
  left: 0px;
  z-index: -60;
}
 
.container li img {
  position: absolute;
  top: 0px;
  left: 150px;
  opacity: 0;
  z-index: -50;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

/*top level of recipe nav*/
.top{
	width: 200px;
	background-color:rgba(100,100,100,.25); /*dark gray*/
	background-color: rgba(247, 247, 247,.5); /*light gray*/
	padding:10px;
	border-radius: 15px;
}


.container li a:hover + img {
  /*left: 150px;*/
  opacity: 1;
}

/*footer*/
.foot {
	width:100%;
	height:30px;
	clear:both;
	text-align:center;
    font-size: 14px;
    color:#666666;
}

.jqcNode { }

/*ingredients of recipe*/
.ingred{
  margin:20px;
  margin-top:0px;
  width:180px;
  float:left;
  font-weight:bold;
}
.ingred ul{list-style-type:disc;}
.m{color:#5C832F;} /*measurement style*/
.instruct{margin-left:210px;} /*instructions of recipe*/

.flickr{
	margin-top: 20px;
	text-align:center;
	padding-bottom:20px;
}
